body {
  margin: 1px;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background: linear-gradient(55deg, #34685f, #6ba791);
  overflow: hidden; /* Hide default scrollbars on body */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  height: 100%;
  padding: 20px;
  overflow: auto; /* Enable custom scrollbars on App container */
}

.App::-webkit-scrollbar {
  width: 8px;
}

.App::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.App::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.App::-webkit-scrollbar-thumb:hover {
  background: #555;
}
